# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs.csv
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
